* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 100px;
}

.header {
    padding: 6px 24px;
    background-color: #ddd;
    margin: 0;
    line-height: 40px;
}
h1 {
    font-size: 150%;
    display: inline;
}
.user {
    float: right;
}
.user a {
    margin-left: 1em;
}
.header a {
    color: #000;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}

.content {
    padding: 0 24px;
}
.compose {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    text-align: left;
    padding: 6px;
    margin: 6px;
    border: 2px solid;
    border-radius: 5px;
}
.compose span {
    display: block;
}
.status {
    float: left;
    margin: 0 6px;
    min-width: 25px;
    text-align: center;
}
.compose .status {
    font-size: 200%;
}

.row {
    overflow-x: auto;
    white-space: nowrap;
}

.DOOMED {
    border-color: red;
}
.DOOMED .status {
    color: red;
}
.STARTED {
    border-color: blue;
}
.STARTED .status {
    color: blue;
}
.FINISHED {
    border-color: #339900;
}
.FINISHED .status {
    color: #339900;
}
.FINISHED_INCOMPLETE {
    border-color: #99cc33;
}
.FINISHED_INCOMPLETE .status {
    color: #99cc33;
}

.footer {
    text-align: center;
    height: 80px;
    line-height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
