* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.content {
}
.compose {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    text-align: left;
    padding: 6px;
    margin: 6px;
    border: 2px solid;
    border-radius: 5px;
}
.compose span {
    display: block;
}
.status {
    float: left;
    margin: 0 6px;
    min-width: 25px;
    text-align: center;
}
.compose .status {
    font-size: 200%;
}

.row {
    overflow-x: auto;
    white-space: nowrap;
}

.DOOMED {
    border-color: red;
}
.DOOMED .status {
    color: red;
}
.STARTED {
    border-color: blue;
}
.STARTED .status {
    color: blue;
}
.FINISHED {
    border-color: #339900;
}
.FINISHED .status {
    color: #339900;
}
.FINISHED_INCOMPLETE {
    border-color: #99cc33;
}
.FINISHED_INCOMPLETE .status {
    color: #99cc33;
}

.footer {
    margin-top: 50px;
    text-align: center;
}
