* {
    box-sizing: border-box;
}

.content {
}
.compose {
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 306px;
    text-align: center;
    padding: 6px;
    margin: 6px;
    border: 2px solid;
    border-radius: 5px;
}
.compose span {
    display: block;
}

.row {
    overflow-x: scroll;
    white-space: nowrap;
}

.DOOMED {
    border-color: red;
}
.STARTED {
    border-color: blue;
}
.FINISHED {
    border-color: #339900;
}
.FINISHED_INCOMPLETE {
    border-color: #99cc33;
}
